<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lujun858.myplugindemo">

    <application
        android:name=".HostApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <!--Activity-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".stub.StubActivity" />
        <activity android:name=".stub.SingleTaskActivity1"
            android:launchMode="singleTask"/>

        <!--Service-->
        <service android:name=".stub.ProxyService"/>

        <!--Receiver-->
        <receiver
            android:name=".stub.StubReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.stub.action1" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.stub.action2" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.stub.action3" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.stub.action4" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.stub.action5" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.stub.action6" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.stub.action7" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.stub.action8" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.stub.action9" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.stub.action10" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="host"
            android:name=".stub.StubContentProvider"
            android:exported="true"/>
    </application>

</manifest>